@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto;
}

.container {
    display: flex;
    background-color: #1F2937;
}

.navbar {
padding: 20px 0px;
justify-content: space-around;
flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #b3b5b8;
    font-size: 18px;
}

.hero-text-container {
    justify-content: center;
    gap: 277px;
    padding: 100px 0;
    
}

.hero-class {
    max-width: 480px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    flex: 1;
}

.hero-secondary-text {
    font-size: 18px;
    color: #b3b5b8;
    padding-bottom: 10px;
}

.placeholder-container {
    background-color: #95979b;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #F9FAF8;
}

button {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    color: #F9FAF8;
    background-color: #3882F6;
    font-family: Roboto;
}

h2 {
    text-align: center;
    padding: 40px 0px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item {
    max-width: 176px;
    text-align: center;
    font-size: 18px;
    color: #95979b
}

img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}
