@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
}

.navbar {
display:flex;
justify-content: space-around;
padding: 20px;
background-color: #1F2937;
}

.logo {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #b3b5b8;
    font-family: Roboto;
    font-size: 18px;
}